{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Sessions{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Sessions</h1>
 <h2 class="text-center text-secondary mb-4 pb-4 display-2">  </h2>
 <h2 class="text-center"> <i class="bi bi-cloud-arrow-up-fill text-primary" ></i><i class="bi bifolder text-secondary"></i><i class="bi bi-cloud-arrow-down-fill text-warning"></i></h2>
 <div class="row justify-content-center">
    <div class="col-12 col-md-8 p-4 m-0 text-primary">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="fw-bold text-primary">
                        <th scope="col">Nom Produit</th>
                        <th scope="col">Prix Produit</th>
                        <th scope="col">Description Produit</th>
                        <th scope="col">Quantitée Produit</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Suprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produit |sort((a, b) => a.prixProduit <=> b.prixProduit) %}
                        <tr class="{{ cycle(['table-primary','table-secondary'], loop.index0) }}">
                            <td>{{ produit.nomProduit | capitalize }}</td>
                            <td>{{ produit.prixProduit }}</td>
                            <td>{{ produit.descriptionProduit}}</td>
                            <td>{{ produit.quantitee }}</td>
                            <td><a href="{{path("app_modifier_produit",{'id':produit.id})}}"><i class="bi bi-pen-fill text-dark"></i></a></td>
                            <td><a href="{{path("app_supprimer_produit",{'id':produit.id})}}"><i class="bi bi-trash-fill text-dark"></i></a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 {% endblock %}